{% extends 'base.html' %}

{% block title %}
  Подтверждение удаления
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          Подтверждение удаления
        </div>
        <div class="card-body"> 
          <p>Вы уверены, что хотите удалить комментарий? Восстановить его будет невозможно!</p>
          <a class="btn btn-danger my-3"
              href="{% url 'posts:comment_delete' post_id comment_id 'yes' %}">
              Да, я уверен!
            </a>
          <a class="btn btn-secondary my-3"
              href="{% url 'posts:comment_delete' post_id comment_id 'no' %}">
              Нет, я передумал.
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 